html, body {
  /* Width of chrome extension popup */
  width: 300px;
  /* height of chrome extension popup */
  height: 460px;

  overflow: hidden;
  display: grid;

  min-height: 0;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  display: flex;
}
