/* Reset prime font family */
.p-component {
  font-family: 'Raleway', sans-serif !important;
}

.home {
  color: white;
  font-family: 'Raleway', sans-serif;
  line-height: 1;
  display: flex;
  flex-direction: column;
  gap: 16px;
  position: relative;

  padding: 16px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
  border-radius: 16px;
}

.home-row {
  display: grid;
  height: 42px;
  grid-template-columns: 1fr auto;
  align-items: center;
  gap: 12px;
}

.search-button {
  /*font-size: 22px !important;*/
  /*font-weight: 900 !important;*/
  /*color: #3F51B5 !important;*/
  /*background-color: white !important;*/
}

.title {
  font-size: 22px;
  font-weight: 900;
}
